@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

.MessageList {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75vw;
    padding: 20px;
    background-color: #FBFCFF;
    font-family: 'Gamja Flower', cursive;
    font-size: 1.3em;
}
